[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
binlog_format=row
bind-address=0.0.0.0
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=122M
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_cluster_name="MariaDB Docker Cluster"
wsrep_sst_method=rsync
log_output=file
general_log=1
general_log_file=/var/log/mysql/mysqld.log
log_error=/var/log/mysql/mysqld.err

[mysql_safe]
log_error=/var/log/mysql/mysqld.err
pid_file=/var/run/mysqld/mysqld.pid
